
.leagues {
  &.list {
    thead > tr > th {
      &.edit { width: 10%; }
      &.is_analy, &.toggle { width: 12%; }
      &.name { width: 15%; }
      &.score { width: 10%; }
    }
  }

  &.form {
    tr > td {
      &.name { width: 40%; }
      &.score { width: 25%; }
    }
  }
}

