
body {
  padding-top: 70px;
}

.container {
  &.header {
    i.fa {
      font-size: 16px;
      padding-right: 3px;
    }
  }

  &.main {}
  &.footer { text-align: right; }
}

.top {
  background-color: #A8ADCC;
  padding-top: 170px;
  margin-top: -100px;
}

.title {
  margin-top: -80px;
}

